.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(231, 231, 231);
  background: linear-gradient(
    90deg,
    rgba(231, 231, 231, 1) 0%,
    rgba(226, 223, 255, 1) 100%
  );
  padding: 42px 0;
}

.header {
  font-size: clamp(28px, 5vw, 40px);
  color: #333;
  font-weight: 400;
  margin-bottom: 4px;
}

.sub-header {
  font-size: clamp(16px, 5vw, 20px);
  color: var(--color-primary);
  font-weight: 400;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #999;
  padding: 16px 0;
  font-weight: 300;

  & span:last-child {
    color: #333;
  }
}

.form-group {
  display: flex;
  flex-direction: column;

  & label {
    color: #666666;
    font-weight: 300;
    font-size: 14px;
    line-height: 2;
    margin-bottom: 4px;
  }

  & input {
    outline: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    padding: 8px 16px;
    color: #999999;
    background-color: #fafafa;
    border: 1px solid #e7e7e7;
    &:focus {
      border-color: var(--color-primary);
    }
  }
}

.form-group + .form-group {
  margin-top: 12px;
}

.summary-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background-color: #f9f9f9;
  border: 1px dashed #ccc;

  & h2 {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    padding-bottom: 16px;
  }
}

.cart-subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #333;
  padding: 24px 0;
  border-top: 1px solid #ccc;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: var(--color-primary);
  padding: 24px 0;
  border-top: 1px solid #ebebeb;
}

.tr {
  .td:first-child {
    display: flex;
    text-align: left;
  }

  .th {
    padding: 14px 0;
  }
  .th:first-child {
    text-align: left;
  }
  .th:last-child {
    text-align: right;
  }
  .td {
    font-size: 14px;
    color: #666;
    padding: 24px 0;
    text-align: right;

    & > span {
      max-width: 120px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
}

.subtotal-header,
.subtotal-qty {
  font-size: 16px;
  color: #333;
}

.total-header,
.total-qty {
  font-size: 16px;
  color: var(--color-primary);
}

.subtotal-qty,
.total-qty {
  text-align: right;
}

.payment-method {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  color: #666;
  padding: 20px 0;
  input {
    width: 21px;
    height: 21px;
    border: 1px solid var(--color-primary);
  }

  input[type="radio"]:after {
    width: 12px;
    height: 12px;
    border-radius: 15px;
    top: 4px;
    left: 4px;
    position: relative;
    background-color: #d1d3d1;
    content: "";
    display: inline-block;
    visibility: visible;
  }

  input[type="radio"]:checked:after {
    width: 12px;
    height: 12px;
    border-radius: 15px;
    top: 4px;
    left: 4px;
    position: relative;
    background-color: var(--color-primary);
    content: "";
    display: inline-block;
    visibility: visible;
  }
}

form {
  & > h2 {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    padding: 20px 0;
  }
}

.cupon {
  font-size: 14px;
  color: #333;
  border: 1px dashed #ccc;
  padding: 12px 0 12px 12px;
  display: flex;
  gap: 4px;
  margin: 16px 0;

  & span:last-child {
    color: var(--color-primary);
    cursor: pointer;
  }
}

.cupon-info__wrapper {
  border: 1px solid #d1d3d1;
  border-radius: 8px;
  padding: 20px 30px;
  margin-bottom: 16px;
  display: none;
  transition: all 0.5s linear;

  &.show {
    display: block;
  }

  & > p {
    font-size: 14px;
    color: #333;
  }
}

.cupon-info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 24px;

  & input {
    font-size: 13px;
    color: #ccc;
    outline: none;
    padding: 12px 16px;
    border: 1px solid var(--color-primary);
    min-width: 250px;
  }

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    outline: none;
    background-color: transparent;
    border: 1px solid var(--color-primary);
    cursor: pointer;
    color: var(--color-primary);
    transition: all 0.2s ease-in;
    cursor: pointer;

    &:hover {
      background-color: var(--color-primary);
      color: #fff;
    }
  }
}
