.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(231, 231, 231);
  background: linear-gradient(
    90deg,
    rgba(231, 231, 231, 1) 0%,
    rgba(226, 223, 255, 1) 100%
  );
  padding: 42px 0;
}

.header {
  font-size: clamp(28px, 5vw, 40px);
  color: #333;
  font-weight: 400;
  margin-bottom: 4px;
}

.sub-header {
  font-size: clamp(16px, 5vw, 20px);
  color: var(--color-primary);
  font-weight: 400;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #999;
  padding: 16px 0;
  font-weight: 300;

  & span:last-child {
    color: #333;
  }
}

.order-heading {
  font-weight: 400;
  margin: 16px 0;
}

.empty-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
