.footer {
  padding: 60px 0;
}
.logo {
  width: 104px;
  max-width: 104px;
}

.menu-item__link {
  font-family: Jost;
  font-size: 15px;
  line-height: 1.86;
  letter-spacing: 0;
  color: #999999;
  text-transform: none;
  font-weight: 400;
  font-style: normal;
}

.phone {
  color: #a6c76c;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}
