.tab-wrapper {
  padding: 24px 30px;
  border: 1px solid #ccc;
}

.tab-content {
  & p {
    font-size: 14px;
    color: #999;
    line-height: 2;
  }

  & ul,
  li {
    list-style: unset;
    font-size: 14px;
    color: #333;
  }

  & ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 8px 0 16px 32px;
  }
}

.tab-title {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  margin-bottom: 16px;
}

.product-attribute {
  & h5 {
    font-size: 16px;
    color: #333;
    font-weight: 400;
  }

  & p {
    font-size: 14px;
    color: #999;
    padding: 8px 0;
  }
}

.form-title {
  font-size: 15px;
  color: #333;
  font-weight: 400;
  margin-top: 16px;
}

.form-sub-title {
  font-size: 13px;
  color: #999;
  margin-bottom: 16px;
}

.required {
  color: #ef837b;
  font-weight: 500;
}
.form-field + .form-field {
  margin-top: 16px;
}

.tab-link {
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #333;
  margin-left: 8px;
}

.field-name {
  font-weight: 300;
}

.related-heading {
  text-align: center;
  font-size: 24px;
  color: #333;
  font-weight: 500;
  margin-bottom: 30px;
}
