.forgot-password__link {
  font-size: 14px;
  color: #777;

  &:hover {
    color: var(--color-primary);
  }
}

.form-group {
  display: flex;
  flex-direction: column;

  & label {
    color: #666666;
    font-weight: 300;
    font-size: 14px;
    line-height: 2;
    margin-bottom: 10px;
  }

  & input {
    outline: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    padding: 8px 16px;
    color: #999999;
    background-color: #fafafa;
    border: 1px solid #e7e7e7;
    &:focus {
      border-color: var(--color-primary);
    }
  }
}

.form-group + .form-group {
  margin-top: 12px;
}

.loading {
  display: block;
  font-size: 14px;
  color: #777;
  margin-top: 12px;
}

.error {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 12px;
}

.error-heading {
  font-size: 14px;
  color: #777;
  font-weight: 700;
}

.error-title {
  font-size: 14px;
  color: #777;
}

.sign-up_btn {
  margin-left: 4px;
  font-size: 15px;

  &:hover {
    color: var(--color-primary);
    text-decoration: underline;
  }
}
