.drop-down__item {
  position: relative;
  cursor: pointer;
  color: var(--color-secondary);
  &:hover {
    color: var(--color-primary);
  }
}

.drop-down__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 1.6;
}

.drop-down__options {
  position: absolute;
  background-color: #fff;
  box-shadow: 5px 10px 16px rgba(51, 51, 51, 0.05),
    -5px 10px 16px rgba(51, 51, 51, 0.05);
  font-size: 15px;
  border-radius: 4px;
  padding: 6px 0;
  top: 30px;
  display: none;
  z-index: 1;

  &::before {
    content: "";
    width: 56px;
    height: 24px;
    position: absolute;
    top: -20px;
  }

  & li {
    padding: 3px 16px;
    color: var(--color-secondary);
    cursor: pointer;
  }

  & li:hover {
    color: var(--color-primary);
  }

  &.bottom-left {
    transform: translateX(-100%);
  }
}

.drop-down__item:hover .drop-down__options {
  display: block;
}
